<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>survey questions</title>
</head>
<body>
    <h1> Survey </h1>

    <form>
        <label for="surname" > </label>
        <input type="text" id="surname" name="surname" placeholder="Enter name">
            <br>
        <label for="firstname"></label>
        <input type="text" id="firstname" name="firstname" placeholder="Enter Firstnames">
            <br>
        <label for="number"></label>
        <input type="number" id="number" name="number" placeholder="Enter contact number">
            <br>
        <label for="age"></label>
        <input type="number" id="age" name="age" placeholder="Enter your age">
            <br>
        <label for="date"></label>
        <input type="date" id="date" name="date" placeholder="Enter date">
            <br>
            <br>
        <input type="submit">
    </form>

<br>

    <form action="/api/addParticipantInfo" method="POST">
        <input type="checkbox" id="pizza" name="Pizza" value="Pizza">
        <label for="Pizza"> I have a bike</label><br>

        <input type="checkbox" id="Pasta" name="Pasta" value="Pasta">
        <label for="Pasta"> Pasta </label><br>

        <input type="checkbox" id="PapWors" name="PapWors" value="Pap and Wors">
        <label for="PapWors"> Pap and Wors </label><br>

        <input type="checkbox" id="ChickenSF" name="ChickenSF" value="Chicken Stir Fry">
        <label for="ChickenSF"> Chicken Stir Fry </label><br>

        <br>

<!--        <input type="submit" value="Submit">-->
        <button type = "submit" >submit</button>

    </form>

    <table>
        <tr>
            <th> </th>
            <th> Strongly Agree </th>
            <th> Agree </th>
            <th> Neutral </th>
            <th> Disagree </th>
            <th> Strongly Disagree </th>
        </tr>

        <tr>
            <td>I like to eat out</td>
            <td> <input name="SA" id="EOSA" type="radio" value="1"> </td>
            <td> <input name="A" id="EOA" type="radio" value="2"> </td>
            <td> <input name="N" id="EON" type="radio" value="3"> </td>
            <td> <input name="DA" id="EODA" type="radio" value="4"> </td>
            <td> <input name="SD" id="EOSD" type="radio" value="5"> </td>
        </tr>

        <tr>
            <td> I like to watch movies </td>
            <td> <input name="SA" id="WMSA" type="radio" value="1"> </td>
            <td> <input name="A" id="WMA" type="radio" value="2"> </td>
            <td> <input name="N" id="WMN" type="radio" value="3"> </td>
            <td> <input name="DA" id="WMDA" type="radio" value="4"> </td>
            <td> <input name="SD" id="WMSD" type="radio" value="5"> </td>
        </tr>

        <tr>
            <td>I like to watch TV</td>
            <td> <input name="SA" id="WTVSA" type="radio" value="1"> </td>
            <td> <input name="A" id="WTVA" type="radio" value="2"> </td>
            <td> <input name="N" id="WTVN" type="radio" value="3"> </td>
            <td> <input name="DA" id="WTVDA" type="radio" value="4"> </td>
            <td> <input name="SD" id="WTVSD" type="radio" value="5"> </td>
        </tr>

        <tr>
            <td>I like to listen to the radio</td>
            <td> <input name="SA" id="LRSA" type="radio" value="1"> </td>
            <td> <input name="A" id="LRA" type="radio" value="2"> </td>
            <td> <input name="N" id="LRN" type="radio" value="3"> </td>
            <td> <input name="DA" id="LRDA" type="radio" value="4"> </td>
            <td> <input name="SD" id="LRSD" type="radio" value="5"> </td>
        </tr>


    </table>

</body>
</html>